<div class="container-fluid footer-bg">
    <div class="row">
        <div class="col-sm-6" style="padding-left:30px;">
        <ul class="col-sm-12 list-style d-flex align-items-center" style="padding-left: 0px;">
                <li>Cookie Policy  |</li>
                <li>Privacy Policy  |</li>
                <li>Terms and Conditions</li>
        </ul>
        <div>&copy;-2024 All rights reserved</div>
    </div>
        <div class="col-sm-6 d-flex flex-column align-items-center">
            <div>
        <ul class="col-sm-12 list-style d-flex align-items-center"style="padding-left: 0px;">
                <li>Connect Us</li>
        </ul>
        <div><i class="bi bi-linkedin" style="color:blue; font-size: 25px;"></i></div>
    </div>
    </div>
    </div>
</div>