.signin-card{
    /* background: rgba(255, 255, 255, 0.99);      */
    background: white;     
    /* background: #efeded;      */
        
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    /* padding:30px 5px;   */
    border-radius: 15px;  
 
}
.text-bold{
    font-weight: 500;
}
/* .text-line:after,
.text-line:before{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
} */
.text-line {
    position: relative;
    display: inline-block;
    margin-top:15px;
    color:#8b8989;
    font-weight: 500;
}

.text-line:before,
.text-line:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px; /* Adjust the width as needed */
    border-top: 1px solid #e5e3e3; /* Adjust the color and style as needed */
}

.text-line:before {
    left: -110px; /* Adjust position based on the width */
}

.text-line:after {
    right: -110px; /* Adjust position based on the width */
}
.img-pareza{
    height: 130px;
    width:100%;
    margin-bottom: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .img-pareza-src{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .icon-color{
    color:#bfbcbc;
  }