<div class="container" style="height: 100vh;">
<div class="row" style="height: 100%;">
    <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-5 signin-card d-flex flex-column justify-content-center align-items-center">
            <h2>Sign in with your Account</h2>
            <h4>Enter username and password to signin</h4>
        <form [formGroup]="loginDetails" style="width:80%" class="d-flex flex-column align-items-center">

            <div className='form-group' style="width:100%">
                <!-- <label htmlFor="username">Username</label><br /> -->
                <input id="username" placeholder="Username" formControlName="username" class="form-control" width="100%" />
            </div>
            <div className='form-group' style="margin-top: 15px;width:100%">
                <!-- <label htmlFor="password">Password</label><br /> -->
                <input id="password" placeholder="Password" formControlName="password" class="form-control" width="100%" />
            </div>
            <button class="btn btn-dark" (click)="signIn()" style="width:100%; margin-top:15px;">Sign In</button>
            <!-- <button mat-button color="primary" (click)="signIn()" style="width:100%">submit</button> -->
            <h4 class="text-line">register with us</h4>
            <button class="btn btn-secondary" style="width:100%;background-color: #e5e3e3; color:black;">not a user yet? Register with us</button>
            <h5 style="text-align: center;margin-top: 5px;">By Clicking continue, You agree to our <span class="text-bold">Terms of service</span> and <span class="text-bold">Privacy policy</span></h5>
        </form>
        </div>

    </div>
</div>
</div>
