.fields-card{
    background: rgba(255, 255, 255, 0.99);     
    /* background: white;      */
    /* background: #efeded;      */
        
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);    
    padding:18px;    
    border-radius: 10px;     
  
   width:100%;
}

.negative-balance {
    color: #e11a1ab5;
  }
  
  .positive-balance {
    color: rgb(72, 183, 72);
  }

  .example-full-width{
    width: 100%;
  }
@media screen and (max-width:767px){
  .fields-card{
    margin-top:15px;
  }
}
.table-section{
  border:1px solid lightgray;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:10px;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}